.signin {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo {
    margin-top:40px;
    width: 230px;
  }
  .card1 {
    align-self:center;
    width: 300px;
  }