<ion-content fullscreen class="ion-padding" scroll-y="false" color="custom-d">
  <ion-slides pager="true">

    <ion-slide>
        <img src="assets/school.png"/>
        <h2>Welcome</h2>
        <p><b>Lumbini Engineering College</b> welcomes you as an integrated part of this education community empowering not only to gain theoretical 
          knowledges but also practical usage of the technologies.
        </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/bookshelf.png"/>
      <h2>Library</h2>
      <p>Library is one of the most important hall in every colleges. It is a place to broaden the aspect of your knowledge.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/robot.png"/>
      <h2>Extracurricular</h2>
        <p>Robotics Club</p>
        <p>Student Welfare Unit</p>
        <p>CRS club</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/mortarboard.png"/>
      <h2>LEC</h2>
      <p>This app will prove to be your best friend while attaining this college.</p>
      <ion-button routerLink="/login" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
